[MODULE_PARAMETERS]
####                                     ####
## MQTT Broker (Test System) configuration ##
####                                     ####
PX_LISTEN_HOSTNAME := "localhost"
PX_LISTEN_PORT := 1883

####                                                           ####
## Upper Tester configuration. UT must be running on client side ##
####                                                           ####
PX_UPPER_TESTER_HOSTNAME := "localhost"
PX_UPPER_TESTER_PORT := 1884

####                             ####
## Timeouts and timeout behaviours ##
####                             ####
PX_MAX_TC_TIMER := 10.0             # max duration of a single testcase
PX_ON_TIMEOUT_VERDICT := true       # set a verdict if testcase times out?
PX_ON_TIMEOUT_VERDICT_VAL := inconc # if set, which verdict to set? inconc or fail?

PX_PUB_RETRANSMISSION_TIMER := 5.0  # max duration of a publish retransmission
PX_AWAIT_NO_RESPONSE_TIMER := 5.0   # max duration to wait for a "NO RESPONSE"

####                 ####
## Optional behaviours ##
####                 ####
PX_ACCEPT_ANY_PROTOCOL_NAME      := false   # see [MQTT-3.1.2-1]
PX_ALLOW_LONG_CLIENT_IDS         := true    # see [MQTT-3.1.3-5]
PX_ALLOW_SPECIAL_CHAR_CLIENT_IDS := true    # see [MQTT-3.1.3-5]

[LOGGING]
LogFile := "./logs/broker_logs/%e.%h-%r.%s"
FileMask := LOG_ALL | DEBUG | MATCHING
ConsoleMask := USER | TESTCASE | STATISTICS #| ERROR | WARNING | PORTEVENT
LogSourceInfo := Yes
AppendFile := No
TimeStampFormat := DateTime
LogEventTypes := Yes
SourceInfoFormat := Single
LogEntityName := Yes

[TESTPORT_PARAMETERS]
system.IPL4_PCO.debug := "Yes"

[EXECUTE]
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_01
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_02
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_03
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_04
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_05
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_06
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_07
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_08
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_09
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_10
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_11
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_12
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_13
MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_14
MQTT_Broker_Testcases.TC_MQTT_Client_PUBLISH_01
MQTT_Broker_Testcases.TC_MQTT_Client_PUBLISH_02
MQTT_Broker_Testcases.TC_MQTT_Client_PUBLISH_03
MQTT_Broker_Testcases.TC_MQTT_Client_PUBLISH_04
MQTT_Broker_Testcases.TC_MQTT_Client_PUBLISH_05
MQTT_Broker_Testcases.TC_MQTT_Client_PUBLISH_06
MQTT_Broker_Testcases.TC_MQTT_Client_PUBLISH_07
MQTT_Broker_Testcases.TC_MQTT_Client_PUBLISH_08

[MAIN_CONTROLLER]
TCPPort := 0
KillTimer := 10.0
