[MODULE_PARAMETERS]
PX_MAX_TC_TIMER := 30.0
PX_ACCEPT_ANY_PROTOCOL_NAME := false

PX_ON_TIMEOUT_VERDICT := true
PX_ON_TIMEOUT_VERDICT_VAL := inconc

[LOGGING]
LogFile := "./logs/broker_logs/%e.%h-%r.%s"
FileMask := LOG_ALL | DEBUG | MATCHING
#FileMask := USER
ConsoleMask := USER | TESTCASE | STATISTICS #| ERROR | WARNING | PORTEVENT
LogSourceInfo := Yes
AppendFile := No
TimeStampFormat := DateTime
LogEventTypes := Yes
SourceInfoFormat := Single
LogEntityName := Yes

[TESTPORT_PARAMETERS]
system.IPL4_PCO.debug := "Yes"

[EXECUTE]
### Test Protocol to check client conformance
### see client_selftest_01.cfg for the counterpart
#MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_01
#MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_02
#MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_03
#MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_04
#MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_05
#MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_06
#MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_07
#MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_08
#MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_09
#MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_10
#MQTT_Broker_Testcases.TC_MQTT_Client_CONNECT_11
#MQTT_Broker_Testcases.TC_MQTT_Client_PUBLISH_01

MQTT_Broker_Testcases.TC_MQTT_Client_PUBLISH_02

[MAIN_CONTROLLER]
TCPPort := 0
KillTimer := 10.0
