.metadata
bin/
tmp/
logs/
*logs/
*.tmp
*.ts
*.bak
*.swp
*~.nib
*.properties
.settings/
.loadpath
.recommenders

# Titan
.TITAN_properties
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# Code Recommenders
.recommenders/Icon
