#############################################################################################
# Self-Test                                                                                 #
# Test System: Client                                                                       #                                                                                #
# Configuration: 01                                                                         #
#                                                                                           #
# Description: The Test System (Client) will send only PDUs to fail all test cases on       #
#              counterpart                                                                  #
#############################################################################################

[MODULE_PARAMETERS]
tsp_addresses :=
{
  {
    id := "mqtt_server",
    hostName := "127.0.0.1",
    portNumber := 1883
  }, {
    id := "mqtt_client",
    hostName := "0.0.0.0",
    portNumber := 45679,

    credentials :=
    {
      clientId := "CLIENTID",
      username := "USER_NAME",
      password := "PASSWORD",
      topicName := "/v1/4bb415c8-2c5b-48af-9a0e-46c34f7672e4/"
    }
  }
}

connect_retries := 2
retry_delay := 0.5

[LOGGING]
LogFile := "./logs/selftest/client_01_%e.%h-%r.%s"
FileMask := LOG_ALL | MATCHING
ConsoleMask := TESTCASE |STATISTICS
LogSourceInfo := Yes
AppendFile := No
TimeStampFormat := DateTime
LogEventTypes := Yes
SourceInfoFormat := Single
LogEntityName := Yes

[TESTPORT_PARAMETERS]
#*.p.interfaceName:="enp0s3"
#*.p.debug:="YES"
*.p.noDelay:="YES"

[EXECUTE]
### Test Protocol to trigger the conformance broker
### see st_broker_01.cfg for the counterpart
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_001   ##-> TC_MQTT_Client_CONNECT_01
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_002   ##-> TC_MQTT_Client_CONNECT_02
MQTT_TestCases.TC_MQTT_BROKER_CONNACK_005   ##-> TC_MQTT_Client_CONNECT_03
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_004   ##-> TC_MQTT_Client_CONNECT_04
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_008   ##-> TC_MQTT_Client_CONNECT_05
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_006   ##-> TC_MQTT_Client_CONNECT_06
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_012   ##-> TC_MQTT_Client_CONNECT_07
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_013   ##-> TC_MQTT_Client_CONNECT_07
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_014   ##-> TC_MQTT_Client_CONNECT_07
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_015   ##-> TC_MQTT_Client_CONNECT_07
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_014   ##-> TC_MQTT_Client_CONNECT_08
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_016   ##-> TC_MQTT_Client_CONNECT_09
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_017   ##-> TC_MQTT_Client_CONNECT_11
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_018   ##-> TC_MQTT_Client_CONNECT_11
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_020   ##-> TC_MQTT_Client_CONNECT_11
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_021   ##-> TC_MQTT_Client_CONNECT_11
#MQTT_TestCases.TC_MQTT_BROKER_CONNECT_019   ##-> TC_MQTT_Client_CONNECT_12
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_022   ##-> TC_MQTT_Client_CONNECT_13
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_023   ##-> TC_MQTT_Client_CONNECT_13
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_024   ##-> TC_MQTT_Client_CONNECT_14
MQTT_TestCases.TC_MQTT_BROKER_CONNECT_025   ##-> TC_MQTT_Client_CONNECT_14

[MAIN_CONTROLLER]
# The options herein control the behavior of MC.

TCPPort := 0
KillTimer := 10.0
UnixSocketsEnabled := Yes
# NumHCs := 0
# LocalAddress :=
